* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    background-color: #000;
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
}

.form-section {
    display: flex;
    margin: 10px;
    padding : 5px;
    justify-content: center;
    min-width: 40%;
    height: 450px;
    background-color: #000;
    border-radius: 2px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 10px;
}

.title-section {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    color: #fb8b24;
    align-items: center;
}

.title-section h1 {
    font-size: 4rem;
    text-align: center;
}

.title-section span {
    font-size: 16px;
    color : #a9a9a9;
    font-weight: 600;
}